@import url('https://fonts.googleapis.com/css?family=Poiret+One');

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300&subset=cyrillic');

@font-face
{
    font-family: 'easy';
    font-weight: normal;
    font-style: normal;

    src: url('../font/easy.eot?68474971');
    src: url('../font/easy.eot?68474971#iefix') format('embedded-opentype'),
    url('../font/easy.woff2?68474971') format('woff2'),
    url('../font/easy.woff?68474971') format('woff'),
    url('../font/easy.ttf?68474971') format('truetype'),
    url('../font/easy.svg?68474971#easy') format('svg');
}

// @body: #42383B;
@body: #d9d9dd;
@header: #e44e79;
@header: #0b1520;

@glob-width:800px;

// @wrapper: #DFEFE5;
@wrapper: white;
@article: white;
@border1: #e44e79;
@border1: #de4245;
@border2: lighten(desaturate(@border1, 40%),20%);

// @header: lighten(@body, 5%);

// #FEFFE7,#DFEFE5,#DEBBD7,#E44E79,#42383B

h1
{
    font-family: 'Poiret One', cursive;
    font-size: 2em;

    margin: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0;
}

body,
html
{
    margin: 0;
    padding: 0;
}

#wrapper
{
    position: relative;
    z-index: 0;

    display: flex;
    flex-direction: column;
    // width: 800px;

    min-height: 100vh;
    margin: 0 auto;
    padding: 0;

    background: @wrapper;

    justify-content: center;
    align-items: center;
}

article
{
    width: @glob-width;
}

#holder
{
    z-index: 1;

    display: flex;

    width: 100%;
    height: 80vh;
    margin: 0;
    padding: 0;

    background: linear-gradient(to bottom, rgba(255,255,255,@opacity) 0%,rgba(255,255,255,@opacity) 100%), url(img/phys.jpeg);
    background-position: bottom;
    // background-image: , linear-gradient(to right, rgba(255,255,255,0.2),rgba(255,255,255,0.2));
    background-size: cover;

    @opacity: .5;
    justify-content: center;
    align-items: center;
}

#title
{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 100;

    display: flex;
    flex-direction: column;
    // background-color: fade(white, 42.1%);

    margin: 1em;
    padding: 1em;
    // border-radius: 1em;
    // box-shadow: 0 0 100px fade(white, 42.1%);

    justify-content: center;
    align-items: center;
    a.button-read
    {
        font-size: 1.2rem;
        font-weight: 300;

        margin-top: 1em;
        padding: .5em;

        text-decoration: none;

        opacity: .7;
        color: white;
        border-radius: 1em;
        background: #f84644;
        &:hover
        {
            opacity: 1;
        }
    }
    a.nick
    {
        text-decoration: none;

        color: blue;
        &:before
        {
            content: '@';
        }
    }
    .info
    {
        font-size: .60em;
    }
}

header
{
    font-size: 20pt;

    min-height: 1.5em;
    padding: .25em;

    user-select: none;

    background: @header;
}

article
{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 1.6;

    padding: 1em 1em 1em 1em;

    text-align: justify;
    hyphens: auto;

    background: @article;

    flex: 1;
}

footer
{
    padding: 1em;

    user-select: none;
}

.avatar
{
    margin: 1em;

    border: solid 1.5px red;
    border-radius: 50%;
    background-image: url('/img/avatar.png');
    background-size: 100% 100%;
}

nav
{
    user-select: none;
    ul
    {
        font-size: 10pt;

        display: flex;

        margin: 0;
        padding: 0;

        background: @header;

        justify-content: center;
        flex-grow: 1;
        li,
        .nick
        {
            font-family: Roboto, Arial, sans-serif;
            font-weight: bold;

            display: block;

            padding: 2em;

            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            a
            {
                text-decoration: none;

                color: darken(white, 50%);
                &.active,
                &:hover
                {
                    color: white;
                }
            }
        }
    }
}

.is-fixed
{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
}

footer
{
    font-size: 10pt;

    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    background: #1b1b1b;

    justify-content: center;
    flex-grow: 1;
    nav > ul
    {
        background: inherit;
    }
    .copy
    {
        font-family: 'Open Sans', sans-serif;
        font-size: 12pt;

        width: 960px;
        margin: 0 auto;
        padding: 1em;

        text-align: center;

        color: darken(white,70%);
    }
}


nav.is-fixed
{
    .icon
    {
        height: 0;
        margin: 0 !important;
        padding: 0 !important;

        transition: all .15s ease-in;
        // overflow: hidden;

        opacity: 0 !important;
    }
}

article.ar-fixed
{
    margin-top: 65px;
}

nav .icon
{
    transition: all .15s ease-in;
}

#home,
#problems,
#linux,
#latex,
#lab
{
    & span
    {
        font-family: 'easy';
        font-size: 2em;
        // content: 'A';

        display: block;

        margin: .25em;

        opacity: .8;
        color: #f84644;
    }
}
#foot-nav
{
    transition: all .45s ease-in;
}
#linux > span
{
    content: 'A';
}
#home > span
{
    content: 'B';
}
#problems > span
{
    content: 'C';
}
#lab > span
{
    content: 'D';
}
#latex > span
{
    content: 'E';
}

@import 'problems.less';
